{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container">
  <h1 class="mt-5">TODO list</h1>
  <a href="{% url "list:task-create" %}" class="btn btn-primary mb-3"><i class="fas fa-plus"></i> Add task</a>
  <ul class="list-group mt-3">
    {% for task in tasks %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-6">
          <span class="font-weight-bold">{{ task.content }}</span>
          {% if task.status == True %} 
          <span class="badge badge-success">Complete</span>
          {% else %}
           <span class="badge badge-warning">In progress</span>
          {% endif %}
        </div>
        <div class="col-6 text-right">
          <small>{{ task.date }} - {{ task.deadline }}</small>
          {% if task.status == False %}
          <a href="{% url "list:task-update-status" task.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i>Complete</a>
          {% else %}
          <a href="{% url "list:task-delete" task.id %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>Undo</a>
          {% endif %}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
        Tags:
          {% for tag in  task.tags.all%}
              {{ tag }}
            {% endfor %}
         <a href="{% url "list:task-update"  pk=task.id %}">Update</a> <a href="{% url "list:task-delete"  pk=task.id %}">Delete</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
